html{
  font-family: 'Niramit', sans-serif;
}
body{
  margin:0;
  /* Background pattern from Toptal Subtle Patterns */
  background-image:url(./images/pattern.png);
}
#mainBox{
  width:100%;
  margin:auto;
}
#banner{
  width:100%;
  background-color:black;
  height:400px;
  background-image:url(./images/banner0.png);
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  position:relative;
}
#bannerHead{
  color:#f2deb8;
  background-color:rgba(0,0,0,0.6);
  text-align:center;
  width:100%;
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
  font-weight:bold;
}
#mainTitle{
  font-size:40px;
}
#underMainTitle{
  font-size:20px;
}
#navBar{
  position:absolute;
  width:100%;
  background-color:rgba(0,0,0,0.6);
  font-size:0;
  bottom:0;
}
.navButton{
  display:inline-block;
  height:60px;
  line-height:60px;
  text-align:center;
  text-decoration:none;
  width:calc(95%/2);
  margin-left:calc(5%/3);
  margin-top:calc(5%/3);
  margin-bottom:calc(5%/3);
  outline:0;
  border:0;
  /*border:solid 0.0px rgba(0,0,0,0.1);*/
  border-radius: 30px 30px 30px 30px;
  font-size:20px;
  background-color:#f2deb8;
  color:black;
  cursor:pointer;
}
#content{
  width:100%;
  background-color:#f2deb8;
}
.textBox{
  width:100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;        /* Opera/IE 8+ */
  padding:15px 10px 15px 10px;
}
.image{
  width:100%;
  border:solid 2px rgba(0,0,0,0.2);
}
.head{
  font-size:30px;
  font-weight:bold;
}
.para{
  font-size:17px;
}
#iconBox{
  text-align:center;
}

.icon{
  position:relative;
  height:160px;
  width:160px;
  border:solid 2px rgba(0,0,0,0.2);
  display:inline-block;
  margin:-1px 2px -1px 2px;
  border-radius:20px;
  cursor:pointer;
}
.iconText{
  position:absolute;
  top:20px;
  bottom:10px;
  left:10px;
  right:10px;
  color:#dac8a6;
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
  transition:0.5s;
  opacity:0;
  font-size:20px;
}
.icon:hover .iconText{
  opacity:1;
}
.iconBackground{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  border-radius:18px;
  pointer-events:inherit;
  transition:0.5s;
}
.icon:hover .iconBackground{
  filter:blur(3px);
  filter: brightness(0.50);
}
#footer{
  width:100%;
  padding:10px;
  background-color:#dac8a6;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
@media only screen and (min-width:300px){
  .navButton{
    font-size:30px;
  }
}
@media only screen and (min-width:600px){
  .navButton{
    width:calc(95%/4);
    margin-left:calc(5%/5);
  }
}
@media only screen and (min-width:800px){
  #mainBox{
    width:60%;
    min-width:800px;
  }
  .textBox{
    padding:15px 50px 15px 50px;
  }
  #footer{
    padding:15px 50px 15px 50px;
  }
}
